.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-container h3 {
  font-size: 2rem;
  margin: 0rem 0rem 2rem 0rem;
  text-align: center;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2rem;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}
.close {
  display: flex;
  justify-content: flex-end;
  color: #aaa;
  font-size: 2rem;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.custom-modal_button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.custom-modal_label {
  display: block;
  font-size: 1rem;
  text-align: center;
}
.button-custom-modal {
  width: 6rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.7rem;
  padding: 1rem 1rem;
  margin: 1rem 1rem 1rem 0rem;
  background: white;
  color: var(--black);
  box-shadow: 5px 14px 15px 0px rgb(0 0 0 / 20%);
}
.button-custom-modal span {
  font-size: 0.8rem;
  line-height: 1rem;
}
.button-custom-modal i {
  font-size: 1.5rem;
  margin: 0rem 0rem 0.5rem 0rem;
}

.button-custom-modal:focus{
  border: none;
  color: white;
  background: var(--green);
}
.button-custom-focus {
  border: none;
  color: var(--white);
  background: var(--green);
}

.button-custom-starndard {
  border: none;
  color: var(--black);
  background: var(--white);
}

.navigation__group {
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 1rem;
  text-align: center;
}
.navigation__item {
  margin-right: 2.5rem;
  margin-bottom: 1rem;
}

.navigation__item-link {
  display: inline-block;
  color: #898c8e;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  padding-bottom: 0.8rem;
}

.navigation__item-link-active{
  display: inline-block;
  color: var(--green);
  border-bottom: 2px solid  var(--green);
  text-decoration: none;
  padding-bottom: 0.8rem;
}
.button_next-step {
    border: none;
    border-radius: 3rem;
    padding: .5rem 4rem;
    text-align: center;
    color: white;
    margin-top: 1.5rem;
    background: var(--green);
    box-shadow: 5px 14px 15px 0px rgb(0 0 0 / 20%);
}

.form-texterea {
  overflow: auto;
  resize: vertical;
  border: 1px solid #495057;
  border-radius: .7rem;
  margin: 1rem 0rem;
  width: 100%;
  height: 55%;
}

.custom-modal_radio-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem 0rem;
}
.custom-modal_radio-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    line-height: .8rem;
    padding: 0.4rem .5rem;
    border-radius: 1rem;
    box-shadow: 0.1875rem 0.375rem 1rem rgb(92 117 128 / 16%);
}
.custom-modal_radio-content label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.custom-modal_radio-content i {
  margin: .7rem 0rem;
}
@media screen and (max-width: 906px) {
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 2rem;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
  }
  .custom-modal_button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .button-custom-modal {
    width: 6rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.7rem;
    padding: 1rem 1rem;
    margin: 0.5rem 0.3rem 0rem 0rem;
    background: white;
    color: var(--black);
    box-shadow: 5px 14px 15px 0px rgb(0 0 0 / 20%);
  }
  .form_sm {
    margin-bottom: 1rem;
  }
  .form-texterea {
    overflow: auto;
    resize: vertical;
    border: 1px solid #495057;
    border-radius: .7rem;
    margin: 1rem 0rem;
    width: 100%;
    height: 55%;
  }
}