<section class="navbar-bg_green">
  <nav class="navbar navbar-expand-md navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img [src]="globals.IMG_LOGO_HEADER" alt="landscape.svg" class="img-home">
      </a>
      <div class="justify-content-end">
        <ul class="navbar-nav mt-auto navbar_mobile">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/pages/offres']"><i class="fa fa-plane icon-size"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isExisted==false" [routerLink]="['/pages/souscriptions']"><i class="fa fa-map-marker icon-size"></i></a>
            <a class="nav-link" *ngIf="isExisted==true" [routerLink]="['/pages/']"><i class="fa fa-book icon-size"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/pages/offres-favorites']"><i class="fa fa-heart icon-size"></i><span class="nav-icon-heart">{{offres?.length}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isExisted==false" (click)="onLogIn()"><i class="fa fa-sign-in icon-size"></i></a>
            <a class="nav-link" *ngIf="isExisted==true" (click)="onLogOut()"><i class="fa fa-user icon-size"></i><span class="nav-icon-user">{{currentUser?.firstName}} {{currentUser?.lastName}}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
<style>
.navbar-bg_green {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--green-second-gradient);
}
.navbar {
  border-style: none;
  border-width: 0 0px 0px 0px;
  box-shadow: 0px 3px 0px 0px #50e88e;
}
.img-home {
  vertical-align: middle;
  border-style: none;
  width: 4rem;
  height: 3rem;
}
.icon-size {
  font-size: 2.3rem;
  color: var(--green);
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
}
.nav-icon-heart{
  position: absolute;
  right: 110px;
  top: 35px;
  color: var(--green);
  font-size: 20px;
}
.nav-icon-user{
  position: absolute;
  right: 40px;
  top: 50px;
  color: var(--green);
  font-size: 15px;
}
@media screen and (max-width: 906px) {
  .navbar_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .icon-size {
    cursor: pointer;
    font-size: 2rem;
    color: var(--green);
    margin-right: 1rem;
    position: relative;
  }
  .nav-icon-heart{
    position: absolute;
    right: 65px;
    top: 35px;
    color: var(--green);
    font-size: 15px;
  }
  .nav-icon-user{
    position: absolute;
    right: 20px;
      top: 50px;
    color: var(--green);
    font-size: 15px;
  }
}

</style>