<section class="home_footer_section">
  <div class="container">
    <div class="home_footer_content">
      <h2>😃&nbsp;Facile , <span>😁&nbsp;Simple</span> ,😊&nbsp;Confortable</h2>
    </div>
  </div>

  <div class="home_footer_block">
    <img src="{{globals.HOME_FOOTER_IMG}}" alt="">
    <div class="home_footer_block_content">
      <h3>{{globals.HOME_FOOTER_TITLE}}</h3>
      <p>{{globals.HOME_FOOTER_SUB_TITLE}}</p>
    </div>
    <button>{{globals.HOME_FOOTER_SUBS_TITLE}}<i class="fa fa-arrow-right"></i></button>
  </div>
</section>