<section class="home_content_section">
  <div class="container">
    <div class="home_content_header pt-2">
      <h1>{{globals.HOME_CONTENT_TITLE}}</h1>
      <p>{{globals.HOME_CONTENT_SUB_TITLE}}</p>
    </div>

    <div class="row home_content_row">
      <div class="home_content_col">
        <img
          src="../../../../assets/layouts/home_content/travel_1.svg"
          class="w-20"
        />
        <h3>Inscriptions & réservation sont ouvertes</h3>
        <p>
          Avec un simple click vos pouvez reservez un voyage sur les differents
          ville
        </p>
      </div>
      <div class="home_content_col">
        <img
          src="../../../../assets/layouts/home_content/travel_2.svg"
          class="w-20"
        />
        <h3>Découverte et exploration des nouvelles villes</h3>
        <p>
          Explorer les differents ville du maroc avec des agences 100% marocaine accrédité par le gouvernement
        </p>
      </div>
      <div class="home_content_col">
        <img
          src="../../../../assets/layouts/home_content/travel_3.svg"
          class="w-20"
        />
        <h3>Embarquer Avec Nos Voyage</h3>
        <p>
          Avec la collaboration avec les agences vous pouvez nos faire confience sur vos voyages
        </p>
      </div>
    </div>
  </div>
</section>
